/* You can add global styles to this file, and also import other style files */

.header-logo {
    height: 50px;
}

.navbar a {
    color: white!important;
    font-size: 25px !important;
}


/* .navbar-brand a {
    font-size: larger;
} */